@font-face {
    font-family: 'Old London';
    src: url('subset-OldLondon.woff2') format('woff2'),
        url('subset-OldLondon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

